COMPOSER_GITHUB_TOKEN=yyyyyyyyyyyyyyyyyyyyyyyyy
COMPOSER_MAGENTO_USERNAME=yyyyyyyyyyyyyyyyyyyyy
COMPOSER_MAGENTO_PASSWORD=yyyyyyyyyyyyyyyyyyyyyyyyyy
COMPOSER_BITBUCKET_KEY=yyyyyyyyyyyyyyyyyyyyyyyyyy
COMPOSER_BITBUCKET_SECRET=00000000000000000000000000000000
